.post-container {
    display: flex;
}
  

#cateTitle {
    display: flex;
    justify-content: center;

    width: 45%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    font-weight: bold;
    font-size: 24px;
}

#post-column-no {
    width: 100px;
}

#post-column-title {
    width: 500px;
}

#postTitle {
    cursor: pointer;
}


#postTitle a {
    text-decoration: none;
    color: black;
}

#postTitle:hover {
    font-weight: bold;
}

.post-container {
    display: flex;
    justify-content: center;
  
    width: 100%;
  }
  
#post-list-body-none {
    display: none;
    text-align: center;
}

.post-list-table {
    display: table;
    width: 60vw;

    table-layout: fixed;
    border-collapse: collapse;

    border-top: 3px solid rgb(242, 237, 237);
    border-bottom: 3px solid rgb(242, 237, 237);
  
    text-align: center;

    padding: 10px;

    box-sizing: border-box;
}

.post-list-table th {
    border-collapse: collapse;
}
  
.post-list-table tr {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    letter-spacing: -2px;
}

.category-area {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 5rem;
}

#hotpost-list-body {
    font-size: 20px;
}

#pagination-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    margin-left: 3px;
    padding: 7px;
    font-size: 12px;

    border: 1px solid #911C99;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}

#paginatation-selected {
    background-color: #911C99;
    border-radius: 8px;
    color: white;
}