.login-container{
    display: flex;

    align-items: center;
    justify-content: center;

    height: 90vh;
}

.login-card{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 40vw;
    height: 50vh;

    border: 1px solid rgba(128, 128, 128, 0.329);
    border-radius: 8px;

    margin-bottom: 10vh;
}

.login-card span{
    font-weight: bold;
}

.login-card a{

    color: #174ea6;

    text-decoration: none;
}

.login-container input{
    width: 70%;

    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.329);

    border-radius: 10px;
}

.login-container input:focus{

    outline: none;
    background-color: rgba(208, 227, 255, 0.474);
}

.login-container input:active {
    background-color: yellow;   
}

.login-title{
    display: flex;
    flex-direction: column;

    align-items: center;
    
    margin-bottom: 30px;
}

.login-title img{
    width: 70%;
}

.login-title p{
    font-size: 16px;
}

.login-contents{
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

.login-contents button{
    width: 78%;
    border: 0;
    border-radius: 10px;
    padding: 15px;

    height: 45px;
    font-size: 15px;

    margin: 10px 0;

    font-weight: bold;

    background-color: #911C99;
}
