body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-between;

  background: rgb(242, 237, 237);
  width: 100%;
  height: 10vh;
  
  font-size: 1.2rem;
}

ul {
  display: flex;

  align-items: baseline;
  list-style-type: none;
}

.nav-left-items > a, .nav-right-items > a, .post > a {
  text-decoration: none;
  color: black;
}

.nav-right {
  margin-right: 59.2px;
}

.nav-left-items, .nav-right-items{
  padding-right: 10px;
  cursor: pointer;
}

#welcome {
  cursor: default;
  font-size: 16px;
}

#welcomeNickname {
  font-weight: bold;
}

#main-logo {
  margin-left: 20px;
  
  font-size: 30px;
  font-weight: bold;
}

.container {
  padding: 30px;
  margin-left: 59.2px;
  margin-right: 59.2px;
}

.main-posts-list {
  display: flex;
  justify-content: space-between; 
  
  margin-bottom: 10px;
}

.main-posts {
  width: 45vw;
  height: 60vh;

  border: 1px solid rgb(172, 172, 172);

  font-weight: bold;
  font-size: 17px;

  padding: 5px;
  box-sizing: border-box;
}


.main-notice {
  display: flex;
  justify-content: center;
}

.main-posts-notice {  
  width: 100%;
  height: 15vh;

  border: 1px solid rgb(172, 172, 172);

  font-weight: bold;
  font-size: 17px;

  padding: 5px;
  box-sizing: border-box;
}

.post-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.post-list {
  width: 70%;

  border-top: 1px solid rgb(242, 237, 237);
  border-collapse: collapse;

  text-align: center;
  margin-top: 59.2px;
  margin-left: 59.2px;
}

th {   
  background-color: rgb(242, 237, 237);
}

.blueButton {
  width: 60px;
  height: 25px;

  background-color: rgb(58, 143, 255);
  border-style: none;

  text-decoration: none;
  color: white;
  cursor: pointer;
}

.blueButton > a {
  text-decoration: none;
  color: white;
}

.align {
  display: flex;
  justify-content: center;
}

.button-align {
  display: flex;
  flex-direction: row-reverse;

  width: 70%;
  
  margin-top: 59.2px;
  margin-left: 59.2px;
}

#newpost-title {
  width: 50%;
  height: 3vh;

  line-height: 3vh;
  resize: none;
}

#newpost-contents, #postcontents-contents {
  width: 50%;
  height: 25vh;
  resize: none;

  margin-top: 10px;
  margin-bottom: 10px;
}

.post-comments {
  margin-top: 5px;
}

.loginInput {
  width: 200px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.joinInput {
  width: 250px;
  height: 20px;
  
  margin-right: 5px;
  margin-bottom: 10px;
}

.postcontents-comment-display {
  display: flex;
  margin-bottom: 10px;

  align-items: center;
}

.postcontents-comment-detail {
  width: 40%;
  padding: 5px;

  margin-right: 10px;
  resize: none;
}

.postcontents-username {
  width: 10%;

  font-size: 16px;
  font-weight: bold;
}