body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-between;

  background: rgb(242, 237, 237);
  width: 100%;
  height: 10vh;
  
  font-size: 1.2rem;
}

ul {
  display: flex;

  align-items: center;
  list-style-type: none;
}

.nav-left-items > a, .nav-right-items > a, .post > a {
  text-decoration: none;
  color: black;
}

.nav-left-items img{
  width: 130px;
  height: 3vh;

  position: relative;
  bottom: -3px;
  
  margin-right: 5px;
}

.nav-right {
  margin-right: 59.2px;
}

.nav-left-items, .nav-right-items{
  padding-right: 10px;
  cursor: pointer;
}

#welcome {
  cursor: default;
  font-size: 16px;
}

#welcomeNickname {
  font-weight: bold;
}

#main-logo {
  margin-left: 20px;
  
  font-size: 30px;
  font-weight: bold;
}

.container {
  padding: 30px;
}

.post-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.main-posts-align {
  display: flex;
  justify-content: center;

  margin-top: 5rem;
}

.main-posts-area {
  display: flex;
 
}
.main-posts { 

  font-size: 16px;

  padding: 15px;
  box-sizing: border-box;
}

table {
  border-collapse: separate;
  text-indent: initial;
}

.main-table {
  margin-top: 10px;

  border-top: 1px solid rgb(172, 172, 172);
  border-bottom: 1px solid rgb(172, 172, 172);
}

.post-list-table {
  width: 50%;

  border-top: 1px solid rgb(242, 237, 237);
  border-collapse: collapse;

  text-align: center;

  margin-top: 59.2px;
  margin-left: 59.2px;
}

#hotpost-title, #newpost-title {
  font-weight: bold;
}

#newListTitle a{
  text-decoration: none;
  color: black;
}

.post-list-table th {   
  background-color: rgb(242, 237, 237);
}

.post-list-table tr {
  border-bottom: 1px solid rgb(242, 237, 237);
  margin-top: 5px;
  margin-bottom: 5px;
}

.blueButton, .puppleBtn {
  width: 60px;
  height: 25px;

  background-color: #911C99;
  border-style: none;

  text-decoration: none;
  color: white;
  cursor: pointer;
}

.blueButton > a {
  text-decoration: none;
  color: white;
}

.align {
  display: flex;
  justify-content: center;
}

.button-align {
  display: flex;
  flex-direction: row-reverse;

  width: 70%;
  
  margin-top: 20px;
  margin-left: 59.2px;
}

#newpostTitle {
  width: 50%;
  height: 3vh;

  line-height: 3vh;
  resize: none;
}

#newpostContents {
  width: 50%;
  height: 25vh;
  resize: none;

  margin-top: 10px;
  margin-bottom: 10px;
}


.loginInput {
  width: 200px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.signupInput {
  width: 250px;
  height: 20px;
  
  margin-right: 5px;
  margin-bottom: 10px;
}

#passwordConfirmInput {
  margin-top: -3px;
}

