body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-between;

  background: rgb(242, 237, 237);

  width: 100%;
  height: 10vh;
  
  padding: 3.5rem;
  box-sizing: border-box;

  font-size: 1.3rem;
}

ul {
  display: flex;

  align-items: center;
  list-style-type: none;
}

.nav-left-items > a, .nav-right-items > a, .post > a {
  text-decoration: none;
  color: black;
}

.nav-left-items img{
  width: 130px;
  height: 3vh;

  position: relative;
  bottom: -3px;
  
  margin-right: 5px;
}

.nav-right {
  margin-right: 59.2px;
}

.nav-left-items, .nav-right-items{
  padding-right: 10px;
  cursor: pointer;
}

#welcome {
  cursor: default;
  font-size: 16px;
}

#welcomeNickname {
  font-weight: bold;
}

#main-logo {
  margin-left: 20px;
  
  font-size: 30px;
  font-weight: bold;
}

.container {
  padding: 30px;
}

.main-posts-align {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;

  height: 60vh;
}

.main-posts-area {
  display: flex;
 
}

.main-posts { 
  font-size: 16px;

  padding: 15px;
  box-sizing: border-box;
}

table {
  border-collapse: separate;
  text-indent: initial;
}

.main-table {
  margin-top: 10px;

  border-top: 1px solid rgb(172, 172, 172);
  border-bottom: 1px solid rgb(172, 172, 172);
}

#hotpost-title, #newpost-title {
  font-weight: bold;
  font-size: 18px;
}

#newListTitle a{
  text-decoration: none;
  color: black;
}

.blueButton, .puppleBtn {
  width: 65px;
  height: 30px;

  background-color: #911C99;
  border-radius: 8px;
  border-style: none;

  font-size: 16px;

  margin-top: 1rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.blueButton > a {
  text-decoration: none;
  color: white;
}

.align {
  display: flex;
  justify-content: center;
}

.button-align {
  display: flex;
  flex-direction: row-reverse;

  width: 70%;
  
  margin-top: 3rem;
  margin-right: 14rem;
}

.loginInput {
  width: 200px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
}
