<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>Cate1</title>
</head>
<body>
  <%-include ('nav.ejs')%>
  <div class="container">
    <h1>Category</h1>
    <div class="post-container">
      <!--컬럼 : NO, 제목, 코멘트 수, 작성자, 작성일자, 조회수. cateid를 통해 cate1/2를 불러온다. 별도 페이지 생성 X-->
      <table class="post-list">
        <thead>
          <tr class="post-list-column">
            <th scope="col">No</th>
            <th scope="col">제목</th>
            <th scope="col">코멘트수</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일자</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
          <tr class="post-contents" id="post-contents">
            <td colspan="6" class="post"><a href="/postcontents">등록된 게시물이 없습니다.</a></td>
          </tr>  
        </tbody>
      </table>
    </div>
    <div class="align">
      <div class="button-align">
        <button class="blue-button" id="new-post">New</button>
      </div>
    </div>
    <div id="testarea">
    </div>
  </div>
</body>
<script type="module" src="/javascripts/main.js"></script>
</html>
