<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/category.css">
  <title>Cate1</title>
</head>
<body>
  <%-include ('nav.ejs')%>
  <div class="container">
    <div class="category-area">
      <span id="cateTitle"></span>
      <div class="post-container">
        <table class="post-list-table" id="post-list-table">
          <thead>
            <tr class="post-list-column" id="post-list-column">
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">조회수</th>
              <th scope="col">작성일자</th>
              <th scope="col">작성자</th>
            </tr>
          </thead>
          <tbody id="post-list-body">
            <tr>
              <td colspan="6" id="post-list-body-none">.</tr>            
            </tr>
          </tbody>
        </table>
      </div>
      <div class="align">
        <div class="button-align">
          <button class="puppleBtn" id="newPostBtn">New</button>
        </div>
      </div>
      <div id="pagination-area">
      </div>
    </div>
  </div>
</body>
<script type="module" src="/javascripts/views/category.js"></script>
</html>
