<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <%-include ('nav.ejs')%>
  <div class="container">
    <div class="main-posts-align">
      <div class="main-posts-area">
        <div class="main-posts" id="hotpost-lists-area">
          <span id="hotpost-title">🔥 인기 게시물</span>
          <table class="main-table">
            <thead>
              <tr id="main-thead">
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
                <th scope="col">조회수</th>
                <th scope="col">작성일자</th>
                <th scope="col">작성자</th> 
              </tr>
            </thead>
            <tbody id="hotpost-list-body">
            </tbody>
          </table>
        </div>
        <div class="main-posts" id="newpost-lists-area">
          <span id="newpost-title">👀 최신 게시물</span>
          <table class="main-table">
            <thead class="main-thead">
              <th scope="col">카테고리</th>
              <th scope="col">제목</th>
              <th scope="col">조회수</th>
              <th scope="col">작성일자</th>
              <th scope="col">작성자</th>
            </thead>
            <tbody id="newpost-list-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="module" src="/javascripts/views/main.js"></script>
</html>
