<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hello</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <ul class="nav-left">
        <li class="nav-left-items" id="main_logo">Freeboard</li>
        <li class="nav-left-items">Home</li>
        <li class="nav-left-items">List</li>
    </ul>
    <ul class="nav-right">
          <li class="nav-right-items">Login</li>
          <li class="nav-right-items">Sign up</li>
    </ul>
  </nav>
  <div class="container">
    <h1>Main</h1>
    hello this is main page
  </div>
</body>
</html>
