<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
    <%-include ('nav.ejs')%>
    <div class="container">
        <h1>Join</h1>
        <div>
            NAME
            <div>
                <input class="join-input" id="username-input" type="text" placeholder="한글 6자 이내"> 
                <span id="username-msg"></span>               
            </div>
            NICKNAME
            <div>
                <input class="join-input" id="nickname-input" type="text" placeholder="한글, 영 대/소문자 포함 6글자 이내">
                <button class="blue-button" id="nickname-check">Check</button>
                <span id="nickname-msg"></span>
            </div>
            ID
            <div>
                <input class="join-input" id="id-input" type="text" placeholder="abcd@naver.com">
                <button class="blue-button" id="id-check">Check</button>  
                <span id="id-msg"></span>
            </div>
            PASSWORD
            <div>
                <input class="join-input" id="password-input" type="text" placeholder="숫자와 영문을 포함한 8~12자 이내">
                <span id="password-msg"></span>
            </div>
            <div>
                <button class="blue-button" id="join-submit">Submit</button>
            </div>
        </div>
    </div>
</body>
<script type="module" src="/javascripts/main.js"></script>
</html>