<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
    <%-include ('nav.ejs')%>
    <div class="container">
        <h1>Login</h1>
        <div>
            <div>
                <input id="email" class="loginInput" type="text" placeholder="ID">
            </div>
            <div>
                <input id="password" class="loginInput" type="password" placeholder="PASSWORD">
            </div>
            <div>
                <button class="blueButton"><a href="/signup">Sign up</a></button>
                <button id="signInBtn" class="blueButton">Login</button>
            </div>
        </div>
    </div>
</body>
<script type="module" src="/javascripts/views/login.js"></script>
</html>