<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<body>
    <%-include ('nav.ejs')%>
    <div class="login-container">

        <div class="login-card">
            <div class="login-title">
                <img src="/images/logo.png">
                <p><span>forumus</span>에 로그인 하세요!</p>
            </div>
            <div class="login-contents">
                <input id="email" class="loginInput" type="text" placeholder="ID">
                <input id="password" class="loginInput" type="password" placeholder="PASSWORD">
                <button id="signInBtn" class="blueButton">LOGIN</button>

            </div>
            <div class="login-footer">
                <P>아직 <span>forumus</span>의 회원이 아니신가요? <a href="/signup">회원가입 하기</a><P>
            </div>

        </div>

    </div>
</body>
<script type="module" src="/javascripts/views/login.js"></script>
</html>