<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navi">
        <ul class="nav-left">
            <li class="nav-left-items" id="main-logo"><img src="\images\Logo.png"></li>
            <li class="nav-left-items" id="cate1">Cate1</li>
            <li class="nav-left-items" id="cate2">Cate2</li>
            <li class="nav-left-items" id="cate3">Cate3</li>
        </ul>
        <ul id="navRight" class="nav-right"></ul>
      </nav>
</body>
<script type="module" src="/javascripts/views/nav.js"></script>
</html>