<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navi">
        <ul class="nav-left">
            <li class="nav-left-items" id="main-logo"><a href="/index">Freeboard</li>
            <li class="nav-left-items"><a href="/cate1">Cate1</a></li>
            <li class="nav-left-items"><a href="/cate2">Cate2</a></li>
            <li class="nav-left-items"><a href="/cate3">Notice</a></li>
        </ul>
        <ul class="nav-right">
              <li class="nav-right-items">Login</li>
              <li class="nav-right-items">Sign up</li>
        </ul>
      </nav>
</body>
</html>