<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <%-include ('nav.ejs')%>
    <div class="container">
        <h1>New Post</h1>
        <div>
            <textarea id="newpost-title" placeholder="제목을 입력하세요"></textarea>
        </div>
        <div>
            <textarea id="newpost-contents" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div>
            <button class="blue-button" id="newpost-back"><a href="/cate1">Back</a></button>
            <button class="blue-button" id="newpost-submit"><a href="/cate1">Submit</a></button>
        </div>
    </div>
</body>
</html>