<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <%-include ('nav.ejs')%>

    <div class="container">
        <div class="postcontents">
            <div>
                <div class="postcontents-title-area">
                    <h1 id="postcontents-title">제목</h1>
                </div>
                <div>
                    <textarea id="postcontents-detail"></textarea>
                </div>
            </div>
            <div>
                <div class="postcontents-comment-area">
                    <h2>✍ comments</h2>
                    <div class="postcontents-comment-display">
                        <div class="postcontents-comment-detail">내용</div>
                        <div class="postcontentsUsername" id="username">작성자</div>
                    </div>
                    <div id="commentNone">작성된 코멘트가 없습니다.</div>
                    <div class="postcontents-comment-display">
                        <textarea class="postcontents-comment-detail" placeholder="내용을 입력하세요"></textarea>
                        <button class="blueButton">New</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="/javascripts/views/postcontents.js"></script>
</html>