<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
    <%-include ('nav.ejs')%>
    <div class="container">
        <h1>Sign up</h1>
        <div>
            <div>
                <input class="signup-input" type="text" placeholder="USERNAME">                
            </div>
            <div>
                <input class="signup-input" type="text" placeholder="NICKNAME">                
            </div>
            <div>
                <input class="signup-input" type="text" placeholder="ID">
            </div>
            <div>
                <input class="signup-input" type="text" placeholder="PASSWORD">
            </div>
            <div>
                <button class="blue-button">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>