<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
    <script type="module" src="/javascripts/views/signup.js"></script>
    <%-include ('nav.ejs')%>
    <div class="container">
        <h1>Sign up</h1>
        <div>
            NAME
            <div>
                <input class="signupInput" id="nameInput" type="text" placeholder="이름">               
            </div>
            NICKNAME
            <div>
                <input class="signupInput" id="nicknameInput" type="text" placeholder="닉네임">
                <button class="blueButton" id="nicknameCheckBtn">Check</button>
                <span id="nicknameMsg"></span>
            </div>
            ID
            <div>
                <input class="signupInput" id="emailInput" type="text" placeholder="abcd@naver.com">
                <button class="blueButton" id="emailCheckBtn">Check</button>  
                <span id="emailMsg"></span>
            </div>
            PASSWORD
            <div>
                <input class="signupInput" id="passwordInput" type="password" placeholder="비밀번호">
            </div>
            <div>
                <input class="signupInput" id="passwordConfirmInput" type="password" placeholder="비밀번호 확인">
                <span id="passwordMsg"></span>
            </div>
            <div>
                <button class="blueButton" id="signupSubmitBtn">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>